.cabecalho {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s;
}

.cabecalho.scrolled {
  background-color: #ffffffb3; // Fundo branco translúcido quando rolado
}

.cabecalho .logo {
  transition: display 0.3s;
  margin: 0;
}

.cabecalho .menu a {
  color: #ffffff; /* Cor padrão dos links */
  transition: color 0.3s, border-bottom 0.3s; /* Transição para cor e borda */
  position: relative; /* Necessário para posicionamento absoluto */
}

.cabecalho .menu a::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Ajuste a posição da barrinha */
  left: 0;
  width: 0;
  height: 2px; /* Espessura da barrinha */
  background-color: #fff; /* Cor da barrinha */
  transition: width 0.3s;
}

.cabecalho .menu a:hover::after {
  width: 100%; /* Mostra a barrinha completa ao passar o mouse */
}

.cabecalho.scrolled .menu a {
  color: #000000; /* Cor dos links quando a página é rolada */
}

.cabecalho.scrolled .menu a::after {
  background-color: #000000; /* Cor da barrinha ao rolar */
}

.cabecalho img {
  height: 50px;
}

.cabecalho nav a {
  color: #000;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
}

.cabecalho .icone-perfil {
  font-size: 24px;
  width: 50px;
}

.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000b3; /* Fundo escuro */
  display: flex;
  justify-content: right;
  z-index: 1000; /* Fica acima dos outros elementos */
  padding: 80px 0px 200px;
}

.modal-content {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px; /* Largura do modal */
  flex-direction: column;
}

.modal-content .botao {
  background-color: #00bcd4;
  color: #000000;
  max-width: 180px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px; /* Espaço acima do botão */
}

.modal-content .botao:hover {
  background-color: #00d0e0;
}
