.rodape {
  background-color: #f0f0f0;
  text-align: center; 
  border-top: 2px solid #ffffff;
  padding: 20px;
  animation-delay: 0.3s;
}

.grade-rodape {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
}

.item-rodape {
  margin: 10px; 
  flex: 1; 
  max-width: 350px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 

.item-rodape h3 {
  font-size: 20px;
  margin-bottom: 10px;
}


.item-rodape a {
  font-size: 17px;
  text-decoration: none;
  color: #000;
  position: relative; 
  transition: color 0.3s; 
}

.item-rodape a::after {
  content: "";
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #000; 
  transition: width 0.3s; 
}

.item-rodape a:hover::after {
  width: 100%;
}
}