.container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.container h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.container h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grupo-formulario {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.termos-container {
  display: flex;
  align-items: center;
}

.grupo-formulario input[type="checkbox"] {
  margin-right: 10px;
  width: auto;
}

.grupo-formulario label {
  display: block;
  margin-bottom: 5px;
}

.phone-input-container {
  display: flex;
  align-items: center;
}

.grupo-formulario input,
.grupo-formulario select {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.grupo-formulario input[type="checkbox"] {
  width: auto;
}

.grupo-formulario a {
  color: #00f;
  text-decoration: none;
}

.grupo-formulario a:hover {
  text-decoration: underline;
}

.botaoCadastrar {
  background-color: #00f0ff;
  color: #fff;
  padding: 10px 100px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px; 
}

.botaoCadastrar:hover {
  background-color: #00d0e0;
}

.termos-container {
  display: flex;
  align-items: center; 
}

.termos-container label {
  align-items: center;
  margin: 0px;
}

.termos-container input[type="checkbox"] {
  margin-left: 10px;
}
