.container {
  text-align: center;
  margin-top: 50px;
  padding: 20px; // Adicionando padding para dar espaço nas laterais
}

.container h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.container h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column; // Usando flexbox para alinhar os elementos verticalmente
  align-items: center; // Centralizando os elementos
}

.grupo-formulario {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.termos-container {
  display: flex; // Apenas para o grupo de termos
  align-items: center; // Alinha verticalmente ao centro
}

.grupo-formulario input[type="checkbox"] {
  margin-right: 10px; // Espaço entre a checkbox e o texto
  width: auto; // Ajustando a largura da checkbox
}

.grupo-formulario label {
  display: block; // Faz o rótulo ocupar toda a largura
  margin-bottom: 5px; // Espaço entre o rótulo e o campo de entrada
}

.phone-input-container {
  display: flex; // Para o telefone
  align-items: center; // Alinha verticalmente ao centro
}

.grupo-formulario input,
.grupo-formulario select {
  width: 100%; // Ajustando para ocupar toda a largura do grupo
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.grupo-formulario input[type="checkbox"] {
  width: auto;
}

.grupo-formulario a {
  color: #00f;
  text-decoration: none;
}

.grupo-formulario a:hover {
  text-decoration: underline;
}

.botaoCadastrar {
  background-color: #00f0ff;
  color: #fff;
  padding: 10px 100px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px; // Espaço acima do botão
}

.botaoCadastrar:hover {
  background-color: #00d0e0;
}
/* Adicione a classe .termos-container */
.termos-container {
  display: flex;
  align-items: center; /* Alinha verticalmente o texto e o checkbox */
}

.termos-container label {
  align-items: center;
  margin: 0px;
}

/* Redefine a margem do checkbox e o estilo do link */
.termos-container input[type="checkbox"] {
  margin-left: 10px; /* Espaço entre a checkbox e o texto */
}